.derecha{
    flex: 1;
    width: 100%;
    height: 100vh;
    background-color: #283039;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

.derecha2{
    width: 50%;
    height: 50%;
    background-color: #323c46 ;
    display: flex;
    border-radius: 25px;
    flex-direction: column;
}